body{
    background-color: rgb(26, 25, 25);
}
 header{
    display: flex;
    justify-content:center;
    gap: 40px;
    background-color: rgb(90, 58, 58);
    padding: 15px;
    margin: 10px;
    color: rgb(150, 150, 150);
    }
    nav a{
    flex: 1;
    color: white;
    background-color: rgb(82, 42, 42);
    text-align: center;
    box-shadow: 0 4px 8px rgb(155, 0, 16);
    padding: 10px;
    margin: 5px;
    }
    .main h2{
        background-color: #444;
        text-align: center;
        padding: 40px 0 20px 0;
    }
    .card_one{
        display: block;
        justify-content: space-between;
        background-color: #777;
        margin: 40px;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 4px 8px rgb(72, 13, 13);
        max-width: 900px;
    }
    .card_two{
        display: block;
        justify-content: space-between;
        background-color: #777;
        margin: 40px;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 4px 8px rgb(72, 13, 13);
        max-width: 900px;
    }
    .card_three{
        display: block;
        justify-content: space-between;
        background-color: #777;
        margin: 40px;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 4px 8px rgb(72, 13, 13);
        max-width: 900px;
    }
    .main{
        max-width: 900px;
        margin: auto;
        display: block;
        justify-content: center;
        text-align: center;
        max-width: 900px;
        flex-wrap: wrap;
    }
    

        
    

